[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
marshmallow = "*"
flask-migrate = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
